<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
    
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
 
   <!-- Typekit -->
   <script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>
   <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
 
<div class="site">
  <div class="title">
    <a href="/">Rick Branson</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Rick Branson<br />
        rick [at] diodeware.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mojombo/">github.com/rbranson</a><br />
        <a href="http://twitter.com/mojombo/">twitter.com/rbranson</a><br />
        <!-- <a href="http://flickr.com/photos/mojombo/">flickr.com/photos/mojombo</a> -->
      </p>
    </div>
  </div>
</div>

</body>
</html>